---
import "../styles/global.css"

import ObserverProvider from '../components/Observer';
import Header from "../components/Header";

const GA = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID

// Website meta settings.
const title = import.meta.env.PUBLIC_TITLE ?? "The Modding Community"
const titleMain = import.meta.env.PUBLIC_TITLE_MAIN ?? "The Modding Community"
const favIcon = import.meta.env.PUBLIC_FAV_ICON ?? "/favicon.ico"
const socialMediaImg = import.meta.env.PUBLIC_SOCIAL_MEDIA_IMAGE ?? "/images/banner-filled.png"
const url = import.meta.env.PUBLIC_URL ?? "https://moddingcommunity.com"
const desc = import.meta.env.PUBLIC_DESCRIPTION ?? "A welcoming and inclusive modding and game development community. We currently offer a server browser, blog and forum, with plans to launch a mod workshop and more in the future!"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favIcon} />
		<meta name="generator" content={Astro.generator} />

		<title>{titleMain}</title>
		<meta name="description" content={desc} />

		<!-- Open Graph -->
		<meta property="og:site_name" content={title}>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={desc}>
		<meta property="og:image" content={url + socialMediaImg}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="675">
		<meta property="og:url" content={url}>
		<meta property="og:type" content="website">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={desc}>
		<meta name="twitter:image" content={url + socialMediaImg}>
		<meta name="twitter:url" content={url}>
		<meta name="twitter:site" content="@modcommunity_">

		{GA && (
            <>
                <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA}`}></script>
                <script define:vars={{ GA }}>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', GA);
                </script>
            </>
        )}
	</head>
	<body>
		<ObserverProvider client:load>
			<div class="w-full h-full bg-body">
				<Header client:load />
				<slot />
			</div>
		</ObserverProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
