---
import "../styles/Global.css"

import ObserverProvider from '../components/Observer';
import Header from "../components/Header";
import Footer from "../components/Footer";
import PlausibleAnalytics from "../components/helper/PlausibleAnalytics.astro";
import UmamiAnalytics from "../components/helper/UmamiAnalytics.astro";

// Plausible Analytics
const paSrc: string | undefined = import.meta.env.PUBLIC_PA_SRC
const paDomain: string | undefined = import.meta.env.PUBLIC_PA_DOMAIN
const paApi: string | undefined = import.meta.env.PUBLIC_PA_API

// Umami Analytics
const umamiSrc: string | undefined = import.meta.env.PUBLIC_UMAMI_SRC
const umamiWebsiteId: string | undefined = import.meta.env.PUBLIC_UMAMI_WEBSITE_ID

type Props = {
	meta?: {
		title?: string
		titleMain?: string
		desc?: string
	}
}

const { meta } = Astro.props as Props

const {
	title: titleMeta,
	titleMain: titleMainMeta,
	desc: descMeta }
= meta ?? {}

// Website meta settings.
const title = titleMeta ?? import.meta.env.PUBLIC_TITLE ?? "The Modding Community"
const titleMain = titleMainMeta ?? import.meta.env.PUBLIC_TITLE_MAIN ?? "The Modding Community"
const favIcon = import.meta.env.PUBLIC_FAV_ICON ?? "/favicon.ico"
const socialMediaImg = import.meta.env.PUBLIC_SOCIAL_MEDIA_IMAGE ?? "/images/banner-filled.png"
const url = import.meta.env.PUBLIC_URL ?? "https://moddingcommunity.com"
const desc = descMeta ?? import.meta.env.PUBLIC_DESCRIPTION ?? "A welcoming and inclusive modding and game development community. We currently offer a server browser, blog and forum, with plans to launch a mod workshop and more in the future!"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favIcon} />
		<meta name="generator" content={Astro.generator} />

		<title>{titleMain}</title>
		<meta name="description" content={desc} />

		<!-- Open Graph -->
		<meta property="og:site_name" content={title}>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={desc}>
		<meta property="og:image" content={url + socialMediaImg}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="675">
		<meta property="og:url" content={url}>
		<meta property="og:type" content="website">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={desc}>
		<meta name="twitter:image" content={url + socialMediaImg}>
		<meta name="twitter:url" content={url}>
		<meta name="twitter:site" content="@modcommunity_">

		{(paSrc && paDomain) && (
            <PlausibleAnalytics
				src={paSrc}
				domain={paDomain}
				api={paApi}
			/>
        )}

		{(umamiSrc && umamiWebsiteId) && (
			<UmamiAnalytics
				src={umamiSrc}
				websiteId={umamiWebsiteId}
				setOutboundClicks={true}
			/>
		)}
	</head>
	<body>
		<ObserverProvider client:load>
			<main>
				<Header client:load />

				<div class="relative bg-body z-10 w-full overflow-x-hidden text-text-default min-h-screen">
					<slot />
				</div>

				<Footer client:load />
			</main>
		</ObserverProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
